body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
    background: var(--bg);
    transition: 500ms ease-in-out, color 1000ms ease-in-out;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

.navbar{
    height: 70px;
    width: 100%;
    background: black;
    color: white;
}

.navbar-nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header{
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    height: 400px;
    background: var(--header-color);
    color: var (--header-text);
    clip-path: polygon(50% 0%, 100% 0%, 100% 65%, 50% 100%, 0% 65%, 0 0);
 }

 main{
     padding: 40px;
 }

footer{
    background: var(--black);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

li a::before{
    content: '';
    border: 2px solid white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}


/*Themes*/

:root{
    --spotify-dark-green: #1db954;
    --spotify-light-green: #1ed760;
    --white: #ffffff;
    --grey0: #f1f1f1;
    --grey1: #9fa0a9;
    --grey2: #757575;
    --grey3: #4b4b4b;
    --grey4: #303030;
    --grey5: #1d1d1d;
    --black: #000000; 
}

.light{
    --bg: var(--grey0);
    --text: var(--grey5;);
    --header-color: var(--spotify-dark-green);
    --header-color: var(--grey0);


    --bg-dropdown: var(--grey0);
    --border-color: var(--spotify-dark-green);

}

.dark{
    --bg: var(--grey5);
    --text: var(--grey0);
    --header-color: var(--spotify-light-green);
    --header-color: var(--grey0);


    --bg-nav: linear-gradient(to right, var(--grey0), var(--gray3));
    --bg-dropdown: var(--grey0);
    --border-color: var(--spotify-dark-green);
}

.eco{
    --island-green: #2BAE66FF;
    --snow-white: #FCF6F5FF;
}

.evil{
    --cherry-tomato: #E94B3CFF;
    --bat-black: #2D2926FF;
}

.summer{
    --blue-atoll: #00B1D2FF;
    --vibrant-yellow: #FDDB27FF;
}

.spoti{
    --spotify-dark-green: #1db954;
    --spotify-light-green: #1ed760;
}

